<div class="meta-top">
    <div class="count">
        <span class="count-index"></span>/<span class="count-total"><%= photos.length %></span>
    </div>
    <div class="title"></div>
</div>
<div class="meta-bottom">
    <ul class="credits"></ul>
</div>