<div class="photoset-contain">
    <img class="photoset-image" data-src="<%= cover.large.src %>" />
    <span class="photoset-info">
        <h2 class="photoset-title"><span><%= title %></span></h2>
    </span>
</div>