<div class="wlp-photos">
    <% _.forEach(photosets, function (photoset) { %>
    <div class="photoset">
        <a data-photoset="<%= photoset._id %>" href="#">
            <img src="<%= photoset.cover.large.src %>">
            <span class="photoset-info">
                <h2 class="photoset-title"><span><%= photoset.title %></span></h2>
            </span>
        </a>
    </div>
    <% }); %>
</div>