.wlp {
    .pswp {
        transition: all .3s @easeInOutQuad, 
    }

    .pswp__bg {
        background-color: #fff;
    }

    .pswp__top-bar {
        background-color: transparent;
    }

    .pswp__caption {
        background-color: transparent;
    }

    .pswp__counter {
        color: @black;
    }

    

    .pswp__button,
    .pswp__preloader, 
    .pswp__svg {
        color: @black;

        &, &:before {
            background-image: none !important;
        }
        &:before {
            background-color: transparent;
        }
        html.touch &:active,
        html.no-touch &:hover {
            background-color: white;
            box-shadow: 1px 1px 1px fade(black, 10);
            color: @black;
        }
    }

    .pswp__button {
        .fa;
    }

    .pswp__button--close:before {
        content: @fa-var-close;
    }

    .pswp__button--fs:before {
        content: @fa-var-expand;
    }
    .pswp--fs .pswp__button--fs:before {
        content: @fa-var-compress;
    }

    .pswp__button--zoom:before {
        content: @fa-var-search-plus;
    }
    .pswp--zoomed-in .pswp__button.pswp__button--zoom:before {
        content: @fa-var-search-minus;
    }

    .pswp__button--arrow--left,
    .pswp__button--arrow--right {
        background-color: transparent;
        box-sizing: content-box;
        display: none;
        font-size: 2em;
        margin: 0 22px;
        padding: 22px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 44px;

        html.no-touch & {
            display: inline-block;
        }

        @media (min-width: @screen-sm) {
            display: inline-block;
        }

        html.touch &:active,
        html.no-touch &:hover {
            background-color: white;
            box-shadow: 1px 1px 1px fade(black, 10);
            color: @black;
        }

        &:before {
            width: 100% !important;
            height: auto !important;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .pswp__button--arrow--left:before {
        content: @fa-var-angle-left;
    }
    .pswp__button--arrow--right:before {
        content: @fa-var-angle-right;
    }
}
