.wlp-about {
    display: table;
    text-align: center;
    width: 100%;


    .inner {
        display: table-cell;
        // max-width: 800px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
    }


    h2 {
        font-size: 1.3em;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 1.4em;
        }
        @media (min-width: 1025px) {
            font-size: 1.5em;
        }
    }


    p {
        color: #777;
        font-family: "proxima-nova";
        font-size: 1.1em;
        line-height: 1.7;
        margin: 0 auto;
        max-width: 800px;
        position: relative;

        @media (min-width: 768px) {
            font-size: 1.2em;
        }
        @media (min-width: 1025px) {
            font-size: 1.3em;
        }
    }


}