.wlp-about {
    // margin-left: auto;
    // margin-right: auto;
    text-align: left;


    .inner {
        display: block;
        margin: 0 auto;
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 0; right: 0;
        transform: translateY(-50%);
        vertical-align: middle;
        width: 100%;
    }


    h2 {
        font-size: 1.3em;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 1.4em;
        }
        @media (min-width: 1025px) {
            font-size: 1.5em;
        }
    }


    p {
        color: #777;
        font-family: "proxima-nova";
        font-size: 1.1em;
        line-height: 1.7;
        position: relative;

        @media (min-width: 768px) {
            font-size: 1.2em;
        }
        @media (min-width: 1025px) {
            font-size: 1.3em;
        }
    }


}