body {
    font-family: "proxima-nova-condensed", sans-serif;
    // font-family: "museo-sans-rounded", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    border-bottom: 1px solid transparent;
    color: @black;
    display: inline-block;
    padding-bottom: 1px;
    text-decoration: none;
    transition: border-bottom-color .3s ease;

    &:hover {
        border-bottom-color: @teal;
        // border-bottom-color: @black;
        color: @black;
        text-decoration: none;
    }
}

.contain {
    position: relative;
}

::-moz-selection {
    background: @black;
    color: @white;
    text-shadow: none;
}

::selection {
    background: @black;
    color: @white;
    text-shadow: none;
}