body {
    font-family: "proxima-nova-condensed", sans-serif;
    // font-family: "museo-sans-rounded", sans-serif;
    margin: 0;
    padding: 0;
}

.contain {
    position: relative;
}

::-moz-selection {
    background: @black;
    color: @white;
    text-shadow: none;
}

::selection {
    background: @black;
    color: @white;
    text-shadow: none;
}