.wlp-header {
    .clearfix;
    // border-top: 2px solid @silver;
    // border-top: 2px solid fade(@aqua, 30);
    background: fade(#fff, 86);
    // border-bottom: 1px solid @red;
    margin: 0;
    padding: 3em 2em;
    position: relative;
    transition: padding 0.2s @easeInOutQuad;

    z-index: 10;

    @media (min-width: 480px) {
        // padding: 4em 3em;
        padding: 4.3em 3em;
    }
    @media (min-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    h1,
    ul.menu,
    ul.social {
        font-size: 1.2em;
        letter-spacing: 0.5px;
        line-height: 1;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 1em;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 480px) {
            font-size: 1.3em
        }

        @media (min-width: 768px) {
            float: left;
            font-size: 1.2em;
            margin-right: 32px;
            margin-bottom: 0;
            text-align: left;
        }
    }

    ul.menu,
    ul.social {
        a {
            color: @gray;

            &:focus,
            &:active {
                color: @gray;
            }

            &:hover {
                color: @black;
            }
        }
    }

    ul.menu {
        display: none;
        float: left;
        font-weight: 300;

        @media (min-width: 768px) {
            display: block;
        }

        a {
            border-bottom-color: transparent;
            // color: @gray;
            padding-bottom: 1px;

            &:hover {
                border-bottom-color: transparent;
                // color: @black;
            }

            &.active {
                border-bottom-color: @aqua;
                color: @black;
            }
        }
    }

    ul.social {
        text-align: center;

        @media (max-width: 767px) {
            font-size: 14px;
        }

        > li {
            float: none;
        }

        @media (min-width: 768px) {
            float: right;

            > li {
                float: left;
            }
        }
    }
}